.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  text-align: center;
  margin: 30px;
  margin-bottom: 0px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: clamp(2.5rem,7vw,8rem);
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.btn{
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  color: #ffffff;
  background-color: #6f1515;
  font-size: 19px;
  border: 1px solid #6f1515;
  border-radius: 15px;
  padding: 15px 35px;
  letter-spacing: 1px;
  cursor: pointer;
}
button:hover {
  color: #393E46;
  background-color: #4ecca3;
  border: #4ECCA3;
}

footer {
  margin-top: 3.5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

@media (max-width:500px) {
  img{
    width: 65%;
  }
}
