.red{
    height: 100px;
    width: 100px;
    background-color: red;
    position: relative;
    left: 20px;
}
.blue{
    height: 100px;
    width: 100px;
    background-color: blue;
    
}
.yellow{
    height: 100px;
    width: 100px;
    background-color: yellow;
}